{% load static %}

<nav class="navbar navbar-expand-lg bg-light fixed-top" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/ajeita_aqui.png' %}" alt="Ajeita Aqui" width="100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Cadastre-se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">Sobre</a>
          </li>
        </ul>
        <span class="text-body-tertiary pe-2" id="cidadeEscolhida"><em>Beta - version 0.0.1</em></span><i class="fa-solid fa-wand-magic-sparkles p-2"></i>
      </div>
    </div>
  </nav>